<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Karantina&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <footer>
        <a href="#"><img src="../images/envelope.svg" alt="Email icon">contact@mammamia.com</a>
        <a href="#"><img src="../images/facebook.svg" alt="Facebook logo">Mamma Mia Trondheim</a>
        <a href="#"><img src="../images/instagram.svg" alt="Instagram icon">@mammamiatrondheim</a>
        <a href="#"><img src="../images/phone-call.svg" alt="Phone icon">+4764853210</a href="#">
        <a href="#"><img src="../images/marker.svg" alt="Marcer icon">Olav Tryggvasons Gt. 30</a>
    </footer>
</body>
</html>