body {
    font-family: 'Karantina', Arial, sans-serif;
    min-height: 100vh;
}

.header {
    height: 120px;
    background-color: #9dcf8f;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header > h1 {
    margin-left: 15vw;
    color: #ffff;
}

.headline > h2 {
    font-size: 30px;
}

.container {
    text-align: left;
    background-color: #ffffff;
    margin: 30px auto 0 auto;
    width: 40%;
}

form > label {
    font-size: 18px;
}

.data-input, 
#book-table-submission-button {
    border: none;
    border-bottom: solid black 1px;
    margin: 3px 0;
    width: 100%;
    height: 22px;
    outline: none;
    font-family: Arial, sans-serif;
}

#booking-party-size:hover, 
#booking-party-size:focus, 
#booking-time:hover, 
#booking-time:focus {
    border: none;
    border-bottom: solid #D36D6D 3px;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-top: 5px;
}

.data-input:hover,
.data-input:focus {
    border: none;
    border-bottom: solid #D36D6D 3px;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 1px;
}

.wrapper {
    text-align: center;
}

#book-table-submission-button {
    background-color: #D36D6D;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    height: 30px;
    font-family: 'Karantina', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}

#book-table-submission-button:hover {
    border: #ae3f3f solid 2px;
}

#book-table-submission-button:active {
    background-color: #ae3f3f;
}

#confirmation-message {
    background-color: #efffea;
    padding: 0 15px;
    margin: 0px 30%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: solid #9dcf8f 4px;
    border-radius: 3px;
    display: none;
}

#notes {
    color: #c0c0c0;
    margin: 0 auto 100px auto;
}

.cursor-text {
    cursor: text;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .form {
        min-width: 230px;
    }

    #notes {
        min-width: 230px;
    }
}