/* General page layout. */
body {
    font-family: 'Karantina', Arial, sans-serif;
    min-height: 100vh;
}

.header {
    height: 120px;
    background-color: #9dcf8f;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header > h1 {
    margin-left: 15vw;
    color: #ffff;
}

/* Make the headline of the page an appropriate size. */
.headline > h2 {
    font-size: 30px;
}

/* Align content in the center of the page. */
.container {
    text-align: center;
}

/* Align input labels to the left for aesthetic reasons, make the content adjustable with window size. */
.wrapper {
    text-align: left;
    margin: 30px auto 0;
    width: 40%;
}

/* Make the input labels an appropriate size. */
form > label {
    font-size: 18px;
}

/* Make the input fields have an appropriate size and style. */
.data-input {
    border: none;
    border-bottom: solid black 1px;
    margin: 3px 0;
    width: 100%;
    height: 22px;
    outline: none;
    font-family: Arial, sans-serif;
}

#book-table-submission-button {
    background-color: #D36D6D;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    height: 30px;
    font-family: 'Karantina', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}

/* Change style of input fields when hovered over or selected. */
#booking-party-size:hover, 
#booking-party-size:focus, 
#booking-time:hover, 
#booking-time:focus {
    border: none;
    border-bottom: solid #D36D6D 3px;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-top: 5px;
}

.data-input:hover,
.data-input:focus {
    border: none;
    border-bottom: solid #D36D6D 3px;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 1px;
}

#book-table-submission-button:hover {
    border: #ae3f3f solid 2px;
}

#book-table-submission-button:active {
    background-color: #ae3f3f;
}

/* Make the confirmation box have an appropriate size and style. */
#confirmation-message {
    background-color: #efffea;
    margin: 0px auto;
    width: 40%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: solid #9dcf8f 4px;
    border-radius: 3px;
    display: none;
}

#confirmation-message > p {
    margin: 15px;
}

/* Make the note at the bottom (for party size) have an appropriate style and placement on the page. */
#notes {
    color: #c0c0c0;
    margin: 0 auto 100px;
    
}

/* Make the cursor the appropriate type for each input field. */
.cursor-text {
    cursor: text;
}

.cursor-pointer {
    cursor: pointer;
}

/* When the window is resized, do not make the content too small. */
@media screen and (max-width: 600px) {
    .wrapper {
        min-width: 230px;
    }

    #notes {
        min-width: 230px;
    }

    #confirmation-message {
        min-width: 230px;
    }
}