.header{
    height: 120px;
    background-color: #9dcf8f;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header > h1{
    margin-left: 15vw;
    color: #ffff;
}

h1{
    margin-left: 15vw;
    color: #d36d6d;
    font-size: 50px;
    font-weight: 500;
}

#visit{
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}
#visit_info {
    flex: 1;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#visit_info > h2 {
    margin-left: 18vw;
    color: #000000;
    font-size: 45px;
    font-weight: 500;
}

p {
    margin-left: 20vw;
    margin-top: -20px;
    color: #000000;
    font-size: 40px;
    width: 250px;
}

#map_link {
    text-decoration: none;
    transition: color 0.1s;
}

#map_link:hover > p {
    color: #656565;
}

#map {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 15vw;
    margin-left: 30px;
}

#map > iframe {
    width: 100%;
    height: 400px;
    display: inline-block;
}

#contact {
    flex: 1;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}


#contact_info {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact_info a {
    color: black;
    text-decoration: none;
    font-size: 35px;
    padding: 20px;
    align-items: center;
}

#contact_info a:hover {
    color: #656565;
}

#contact_info img {
    height: 30px;
    padding-right: 10px;
}

@media (max-width: 800px) {
    #visit {
        display: block;
    }

    #map {
        margin-left: 15vw;
        margin-bottom: 100px;
        height: 300px;
    }
}