body{
    min-height: 100vh;
}

.header{
    height: 120px;
    background-color: #9dcf8f;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header > h1{
    margin-left: 15vw;
    color: #ffff;
}

#menu{
    margin: 0 0 0 15vw;
    padding: 0 0 50px 0;
}

#menu_sidebar{
    width: 20vw;
    float: left;
    position: sticky;
    top: 0;
    font-size: 30px;
}

#menu_sidebar ul{
    line-height: 60px;
    list-style-type: none;
}


#menu_sidebar > ul{
    padding: 0;
}

#menu_content{
    width: 62vw;
    float: right;
    margin: 3vh 0 0 0;
}

#menu_food, #menu_drinks{
    margin: auto;
}

#menu_food > p{
    color: #878787;
    font-size: 30px;
    padding: 10px 0 20px 0;
}

#menu_drinks{
    margin-top: 3vh;
}

#menu_content > div >h2{
    border-bottom:2px solid #D36D6D;
}

#menu_content h2{
    font-size: 45px;
    margin: 20px 0;
}

.menu_item h3, h4{
    font-size: 32px;
}

.menu_item h3{
    width: fit-content;
}

.menu_item{
    padding: 1em;
    box-sizing: border-box;
    height: 150px;
    width: 300px;
    background-color: rgba(250, 230, 220, 0.7);
    border-radius: 10px;
    display: inline-block;
}

.menu_item p{
    font-size: 25px;
    margin-top: 0.5em;
    width: 100%;
}

.menu_boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#menu_sidebar a{
    text-decoration: none;
}

#menu_sidebar a:visited{
    color: #000;
}

#menu_sidebar a:hover{
    cursor: pointer;
    color: #D36D6D;
}

.menu_item h4{
    float: right;
    color: #878787;
}

#menu_content h2, h3, h4, p, h5{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu_item h5{
    color: #D36D6D;
    font-size: 30px;
    float: right;
}

#menu_content > div > div > h2{
    padding: 2rem 0 2rem 0;
}

.menu_item h5:hover{
    cursor:pointer;
    background-color:#D36D6D;
    color: #fff;
}

.menu_item h5{
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 1016px){
    #menu{
        margin: 0 0 0 5vw;
    }
    #menu_content{
        width: 70vw;
    }
    
}

@media screen and (max-width: 992px){
    #menu_sidebar{
        display: none;
    }
    .menu_item{
        width: 330px;
    }
    #menu_content{
        width: 90vw;
    }
}

@media screen and (max-width: 768px){
    .menu_item{
        width: 300px;
    }
}
