body {
    font-family: 'Karantina', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #9dcf8f;
    color: #fff;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav img {
    height: 450px;
    margin-left: -5vh;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #D36D6D;
    bottom: -7px;
    left: 0;
    transition: width 0.3s;
}

nav a:hover::before {
    width: 100%;
}

nav ul {
    list-style: none;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

nav li {
    margin-left: 20px;
    padding: 1vh;
}